flask
flask-sqlalchemy
requests
beautifulsoup4
python-dateutil
lxml
deep-translator>=1.11.4
googletrans==4.0.0-rc1
langdetect>=1.0.9
APScheduler>=3.10.4
pillow>=10.0.0
streamlit>=1.30.0
pandas>=2.0.0
pywebpush>=2.2.0
pypdf>=4.0.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.1
